#redis
REDIS_HOST=redis

#services url
NGINX_URL=http://nginx
PROM_URL=http://prometheus:9090
REPORT_URL=http://report-service:5000
REGRESSION_SERVICE_URL=http://regression-service:8090

#slack
SLACK_WEBHOOK=https://hooks.slack.com/services/XXXXX/XXXXX/XXXXX
